[Desktop Entry]
Name=netPanzer
Comment=Online multiplayer tactical warfare
Comment[de]=Online multiplayer echtzeitstrategiespiel
Comment[pl]=Sieciowa gra strategiczna czasu rzeczywistego
Icon=netpanzer
Exec=netpanzer
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
# vi: encoding=utf-8
